.table-header {
  background-color: lightorange;
}

.error-container {
  position: fixed;
  bottom: 20px;
  /* Adjust distance from bottom */
  right: 20px;
  /* Adjust distance from right */
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  /* Initially hidden above the viewport */
  z-index: 10;
}

.error-container.show {
  opacity: 1;
  transform: translateY(0);
  /* Slide down into view */
}

.bottom-right {
  /* New class to position the error at bottom right */
  bottom: 20px;
  right: 20px;
}

.app-content {
  /* Style for the main app content */
  position: relative;
  /* Needed for z-index to work on child (error container) */
  padding-bottom: 50px;
}

.loading-container {
  display: flex;
  align-items: center;
  /* Vertically center the content */
  justify-content: center;
  /* Horizontally center the content */
  height: 100px;
  /* Adjust the height as needed */
}

.loading-container p {
  margin-left: 10px;
  /* Add some space between the icon and text */
}

.breakdown-container {
  display: flex;
  /* Enable flexbox layout */
}

.breakdown-column {
  flex: 1;
  /* Make columns take equal width */
  margin: 0 10px;
  /* Add some spacing between columns */
}

.app-footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  /* Add some space above the footer */
  border-top: 1px solid #ccc;
  /* Optional: Add a top border */

  /* Position the footer at the bottom of the page */
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.app-footer a {
  color: #333;
  /* Link color */
  text-decoration: none;
  /* Remove underline from link */
}